name: grade

on:
  schedule:
    - cron: "0 0 1 4 *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  edit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: sed -i 's/3年/4年/' README.md

      - run: |
          git config user.name ikura-hamu && \
          git config user.email action@github.com && \
          git switch -c grade && \
          git add . && git commit -m grade && \
          git push -u origin grade && \
          gh pr new --fill
        name: PR
